
.container{
     width: 60%;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30%;
  }

  label {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
  }

  .icon {
    cursor: pointer;
  }

.formInput{
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  margin: 20px;
  display: flex;
}