.new {
    width: 100%;
    display: flex;
  }
    .newContainer {
      flex: 6;
    }
    .container{
      margin-top: 1rem;
    }
     
      .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 10px;
        margin: 20px;
        display: flex;
      }
      
      .top  h1 {
          color: lightgray;
          font-size: 1.5rem;
          margin-left: 1rem;
        }
        .bottom h1 {
          color: lightgray;
          font-size: 1.5rem;
        }
     
       
        
  
        .right {
          flex: 2;
        }
  
        .right  form {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-around;
        }
            
            .formInput    label {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;
            }
            .formInput       .icon {
                  cursor: pointer;
                }
            
  
              input {
                width: 100%;
                padding: 5px;
                border: none;
                border-bottom: 1px solid gray;
              }
            
  
            button {
              width: 150px;
              padding: 10px;
              border: none;
              background-color: teal;
              color: white;
              font-weight: bold;
              cursor: pointer;
              margin-top: 10px;
 
              /* height:50px;
              margin-top: 50px;
              margin-left:-200px ; */
            }
            .buttonsub{
              height:50px;
              margin-top: 50px;
              margin-left:-300px ;
             
            }      
      
            .datatableTitle{
              width: 500px;
              font-size: 1.5rem;
              color: gray;
              margin-bottom: 10px;
              display: flex;
              align-items: center;
            
            }
  .spandiv{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
  }
  input:invalid{
  border: 1px solid red;
  }
  
  input:invalid ~ span{
  display: block;
  }
  
  /* media query */
  
  
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    .right{
       height: auto;
       margin-bottom: 400px;
     }
   }
  
  @media only screen and (max-width: 1280px) and (min-width: 820px) {
   .right{
      height: auto;
      margin-bottom: 500px;
    }
  }
  
  
  @media only screen and (max-width: 1368px) and (min-width: 912px) {
    .right{
       height: auto;
       margin-bottom:1000px;
     }
   }
   @media only screen and (max-width: 800px) and (min-width: 360px) {
    .right{
       height: auto;
       margin-bottom: 400px;
     }
   }
  
   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   
   .formInput{
    width: 90%;
   }
   button {
    width: 150px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
  
    height:50px;
    margin-top: 50px;
     margin-left:0px ; 
  }
  }
  
  
  